@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

body {
  background: linear-gradient(to right, #830095 0%, #160071 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a:focus {
  outline: none;
}

a:link,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

#skybanner {
  z-index: -6000;
  position: absolute;
}

#sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -6000;
}

.star {
  background-color: white;
  z-index: -6000;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 100vh;
  height: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: -6000;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}

#logowrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.section {
  width: 100vw;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

#main {
  z-index: 1000;
  height: 100vh;
}

#main h1 {
  font-family: Futura;
  color: white;
  margin: 5px;
  font-weight: 50;
  font-size: 30px;
  z-index: 1000;
}

#bio,
#projects,
#message {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100vh;
}

#about {
  color: white;
  height: 100%;
}

.desc p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 28px;
  font-weight: 300;
  font-size: 14px;
}

.desc ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}

.desc li {
  width: 130px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: 0;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 13px;
  left: 10px;
  display: inline-flex;
  align-items: center;
}

/* .desc li:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #00b7ff;
  display: block;
  margin-right: 10px;
  border-radius: 100%;
} */

#about h1,
#about h2,
#projects h1,
#message h1 {
  font-family: Futura;
  font-weight: 50;
  text-align: left;
  margin-bottom: 25px;
  color: white;
  white-space: nowrap;
}

/* #about h1:before,
#projects h1:before,
#message h1:before {
  content: "";
  display: inline-block;
  bottom: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 50px;
  height: 2px;
  background-color: white;
} */

.desc {
  padding: 30px;
  width: 50%;
  margin: 0;
}

.desc a:link,
.desc a:visited,
.desc a:active {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 200;
  padding-bottom: 3px;
  padding-top: 3px;
  white-space: nowrap;
}

.desc a:link:after,
.desc a:visited:after,
.desc a:active:after {
  content: "";
  display: inline-block;
  background-color: #ff1a82;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  cursor: pointer;
}

.desc a:hover:link:after,
.desc a:hover:visited:after,
.desc a:hover:active:after {
  height: 100%;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  cursor: pointer;
}

#astronautwrapper {
  width: 500px;
  height: 500px;
  transform: rotate(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#planet {
  z-index: -1;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #00b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  color: white;
  background: #00b7ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: #00b7ff; /* Gecko Browsers */
}

#projects {
  align-items: flex-start;
}

#projects h1 {
  padding: 30px;
}

#message {
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#message h2 {
  font-family: Futura;
  font-size: 30px;
  font-weight: 200;
  color: #00b7ff;
}

#message a:link,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

#message p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  width: 50%;
  line-height: 25px;
  text-align: center;
}

:focus {
  outline: none;
}

#email {
  position: fixed;
  padding: 10px;
  bottom: 30%;
  right: -40px;
  letter-spacing: 0.3ch;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  display: inline-block;
  transform: rotate(90deg)
}

#email:hover {
  transform: translateY(-3px) rotate(90deg);
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  color: #ff1a82;
}


/* #email:after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: white;
  display: inline-block;
  margin-left: 10px;
  opacity: 0.8;
} */

#socialmedia {
  position: fixed;
  bottom: 30%;
  left: -60px;
  letter-spacing: 0.3ch;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transform: rotate(90deg);
  
}

#socialmedia svg {
  padding: 10px;
  transform: rotate(-90deg);
  display: inline-block;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  color: white;
}

#socialmedia svg:hover {
  transform: translateX(-3px) rotate(-90deg);
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  color: #ff1a82;
}

/* #socialmedia:after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: white;
  display: inline-block;
  bottom: 0;
  margin-left: 10px;
  opacity: 0.8;
} */

.icon {
  margin: 15px;
  color: white;
  cursor: pointer;
  display: inline-block
}

#message {
  height: 100%;
  padding: 20px;
  justify-content: center;
}

#contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  position: relative;
  overflow: hidden;
  z-index: 500;
}

#contactform input,
#contactform textarea {
  border: 0;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 17px;
  background-color: transparent;
  color: white;
  font-weight: 200;
  border: 1px solid white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#contactform input::placeholder,
#contactform textarea::placeholder {
  color: white;
  opacity: 0.8;
}

#submit {
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid white;
  outline-offset: -1px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: 200;
  font-family: Futura;
  font-size: 15px;
  position: relative;
}

#message h1 {
  margin-bottom: 0;
}

#message h1:before {
  width: 0%;
  opacity: 0;
}

#clipboardwrapper {
  font-size: 15px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

#clipboard {
  margin-left: 5px;
  background-color: #fff;
  border-radius: 100%;
  padding: 4px;
  cursor: pointer;
  width: 13px;
  height: 13px;
  color: #830095;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bubble {
  opacity: 0;
  position: absolute;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
  top: -33px;
  vertical-align: -50%;
  background-color: white;
  border-radius: 5px;
  color: #830095;
  z-index: 2000;
}

#bubble:after {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: -50%;
  width: 0;
  height: 0;
  bottom: -5px;
  right: 47%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

#footer {
  width: 100vw;
  font-size: 12px;
  font-weight: 200;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer:hover {
  color: #00b7ff;
}

#update {
  z-index: 2000;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 96%;
  margin: 5px;
  height: 81%;
  position: absolute;
  font-size: 15px;
}

#update p {
  margin: 5;
  padding: 0;
  text-align: center;
}

#btn {
  width: 150px;
  border-radius: 0;
  border: 0;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 200;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s;
}

#btn:hover {
  border-color: #ff1a82;
  transition: 0.5s;
}

#rectwrap {
  position: absolute;
}

#navbar {
  padding: 15px;
  width: 100vw;
  position: fixed;
  top:0;
  background: linear-gradient(to right, #830095 0%, #160071 100%);
  /* box-shadow: 0 4px 22px -16px black; */
  z-index: 9000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 23px;
}

#navbar ul {
  margin: 0;
  margin-right: 50px;
  list-style-type: none;
}

#navbar li {
  display: inline-block;
  margin-right: 20px;
  font-weight: 100;
  cursor: pointer;
  letter-spacing: 1px;
  position:relative;
  z-index: 1;
}

#navbar li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #ff1a82;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

#navbar li:hover:before {
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  height: 100%;
}

#logo-nav {
  margin-left: 10px;
}

@media only screen and (max-width: 1000px) {
  #contactform {
    width: 80%;
  }

  #contractform input {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 600px) {
  #bio {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
  }

  #bio .desc {
    width: 100%;
  }

  #bio #astronautwrapper {
    width: 100%;
  }

  .desc a:link,
  .desc a:visited,
  .desc a:active {
    color: #00b7ff;
    font-weight: bold;
    padding: 0;
  }

  .desc a:link:after,
  .desc a:visited:after,
  .desc a:active:after {
    width: 0;
  }
  #projects h1 {
    padding: 0px;
  }
  .desc ul li {
    width: 120px;
  }

  #info {
    opacity: 0;
  }

  #message {
    width: 100%;
    padding: 0;
  }

  #message h1:before {
    width: 0%;
    opacity: 0;
  }

  #message p {
    width: 90%;
    margin: 20px;
  }

  #form p {
    width: 100%;
    padding: 20px;
  }

  #rectwrap {
    opacity: 0;
  }
  input, textarea {
    border-radius: 0;
  }
  #navbar {
    font-size: 15px;
  }

  #navbar ul, #logo-nav {
    margin: 0;
  }

}
