@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  background: linear-gradient(to right, #830095 0%, #160071 100%);
}

#skybanner {
  z-index: -1000;
  position: absolute;
}

#sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.star {
  border: 1px blue;
  background-color: white;
  filter: drop-shadow(0 0 6px white);
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 100vh;
  height: 100vw;
  position: fixed;
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  z-index:1000;
  margin:0;
}

#main {
  flex-direction: column;
}

#logo {
  padding:20px;
  z-index:1000;
}

#main h1 {
  font-family: Futura;
  color: white;
  margin:5px;
  font-weight: 50;
  font-size: 30px;
}
